@charset "UTF-8";

/* ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
   ••  Flashcards                                                    ••
   ••  Updated: August 2011                                          ••
   ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••   

----------------------------------------------------------------------- */

/* 0. RESET
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

@import url("reset.css");

/* 1. GLOBAL
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

/* 1.1 =Default elements
======================================================================= */

body {
  font-family: "Lucida Grande", "Verdana", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  background: #edd094 url("i/wood.jpg");
  color: #333;
}

a {
  color: #1f82c2;
}

.hidden {
  display: none;
}

/*  =Layout
======================================================================= */

.wrap {
  background-color: #fff;
  border: 1px solid #a99055;
  background-clip: padding-box;
  -moz-border-radius: 9px;
  border-radius: 9px;
  width: 1000px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  margin: 50px auto 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px;
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns > .first,
.columns > .second,
.columns > .last {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.columns-gap > .second,
.columns-gap > .last {
  padding-left: 15px;
}

.columns > .first,
.columns > .second {
  padding-right: 15px;
}

.columns-opposite > .first {
  width: 50%;
  height: 90px;
  margin: -30px 0 0 -20px;
  padding: 30px 0 0 20px;
}

.columns-opposite > .last {
  float: right;
  position: relative;
}

.columns-equal > .first,
.columns-equal > .last {
  width: 50%;
}

/*  =Heading
======================================================================= */

.heading {
  margin-top: 12px;
}

.heading::before {
  content: "";
  display: block;
  height: 1px;
  margin-bottom: -12px;
  background-color: #e5e5e5;
}

.heading .heading-inner {
  display: inline-block;
  padding: 0 10px;
  background-color: #fff;
  color: #bfbfbf;
  text-transform: uppercase;
  font-size: 12px;
}

/* . HEADER
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

.deck-header {
  margin-left: -10px;
  height: 40px;
  padding-bottom: 20px;
}

.deck-divider::before {
  margin-left: -30px;
  margin-right: -30px;
}

.deck-divider .heading-inner {
  margin-left: -10px;
}

.button {
  display: inline-block;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 10px;
  text-shadow: #fff 0 1px 0;
  background: #aad7f3;
  background:    -moz-linear-gradient(top, #c6e4f7 0%, #aad7f3 100%);
  background:     -ms-linear-gradient(top, #c6e4f7 0%, #aad7f3 100%);
  background:      -o-linear-gradient(top, #c6e4f7 0%, #aad7f3 100%);
  background: -webkit-gradient(linear, left top, left bottom,
                            color-stop(0%, #c6e4f7), color-stop(100%, #aad7f3));
  background: -webkit-linear-gradient(top, #c6e4f7 0%, #aad7f3 100%);
  background:         linear-gradient(top, #c6e4f7 0%, #aad7f3 100%);
  -moz-box-shadow: rgba(31, 130, 194, 0.5) 0 1px 0;
  -webkit-box-shadow: rgba(31, 130, 194, 0.5) 0 1px 0;
  box-shadow: rgba(31, 130, 194, 0.5) 0 1px 0;
}

.button-confirm {
  color: #339410;
  background: #92e077;
  background:    -moz-linear-gradient(top, #b8eba6 0%, #92e077 100%);
  background:     -ms-linear-gradient(top, #b8eba6 0%, #92e077 100%);
  background:      -o-linear-gradient(top, #b8eba6 0%, #92e077 100%);
  background: -webkit-gradient(linear, left top, left bottom,
                            color-stop(0%, #b8eba6), color-stop(100%, #92e077));
  background: -webkit-linear-gradient(top, #b8eba6 0%, #92e077 100%);
  background:         linear-gradient(top, #b8eba6 0%, #92e077 100%);
  -moz-box-shadow: #71c554 0 1px 0;
  -webkit-box-shadow: #71c554 0 1px 0;
  box-shadow: #71c554 0 1px 0;
}

.button-cancel {
  color: #fff;
  text-shadow: #d43434 0 1px 0;
  background: #f15555;
  background:    -moz-linear-gradient(top, #f69090 0%, #f15555 100%);
  background:     -ms-linear-gradient(top, #f69090 0%, #f15555 100%);
  background:      -o-linear-gradient(top, #f69090 0%, #f15555 100%);
  background: -webkit-gradient(linear, left top, left bottom,
                            color-stop(0%, #f69090), color-stop(100%, #f15555));
  background: -webkit-linear-gradient(top, #f69090 0%, #f15555 100%);
  background:         linear-gradient(top, #f69090 0%, #f15555 100%);
  -moz-box-shadow: #de4343 0 1px 0;
  -webkit-box-shadow: #de4343 0 1px 0;
  box-shadow: #de4343 0 1px 0;
}

.button-large {
  font-size: 24px;
  line-height: 25px;
  padding: 7px 10px;
}

.deck-header .button-play {
  padding-left: 20px;
  padding-right: 20px;
}

/*  =Dropdown
======================================================================= */

.dropdown {
  position: absolute;
}

.dropdown .button {
  float: left;
  position: relative;
  z-index: 35;
  background: #e6e6e6;
  background: rgba(31, 130, 194, 0.2);
  background:    -moz-linear-gradient(42deg, rgba(31, 130, 194, 0) 0%, rgba(31, 130, 194, 0.2) 100%);
  background:     -ms-linear-gradient(42deg, rgba(31, 130, 194, 0) 0%, rgba(31, 130, 194, 0.2) 100%);
  background:      -o-linear-gradient(42deg, rgba(31, 130, 194, 0) 0%, rgba(31, 130, 194, 0.2) 100%);
  background: -webkit-linear-gradient(42deg, rgba(31, 130, 194, 0) 0%, rgba(31, 130, 194, 0.2) 100%);
  background:         linear-gradient(42deg, rgba(31, 130, 194, 0) 0%, rgba(31, 130, 194, 0.2) 100%);
  padding: 1px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown .button span {
  background: #fff url("i/dropdown-arrow.png") no-repeat 100% 50%;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 33px 6px 9px;
  -o-transition: background 0.25s linear;
  -ms-transition: background 0.25s linear;
  -moz-transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
}

.dropdown .button:hover,
.dropdown .button:focus,
.dropdown-open .button {
  background: #d2e6f3;
}

.dropdown .button:hover span,
.dropdown .button:focus span,
.dropdown-open .button span {
  background-color: #f0f5f8;
}

.dropdown-open .button,
.dropdown-open .button:hover,
.dropdown-open .button:focus {
  padding-bottom: 0;
  background-color: #a5cde7;
}

.dropdown-open .button span {
  padding-bottom: 7px;
}

.dropdown-open .button,
.dropdown-open .button span {
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown ul {
  display: none;
  position: absolute;
  z-index: 30;
  left: 0;
  right: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dropdown-open ul {
  display: block;
  margin-top: 39px;
}

.dropdown ul:before {
  content: "";
  position: absolute;
  top: -39px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 4px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 4px 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 4px 15px;
}

.dropdown li {
  position: relative;
  z-index: 40;
}

.dropdown li a {
  display: block;
  background-color: #f0f5f8;
  border-width: 0 1px;
  border-style: solid;
  border-color: #a5cde7;
  padding: 3px 7px 3px 52px;
  text-indent: -20px;
}

.dropdown li a:hover,
.dropdown li a:focus {
  background-color: #fff;
}

.dropdown .selected a {
  background-image: url("i/dropdown-selected.png");
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

.dropdown .new-deck a {
  border-top: 1px solid #a5cde7;
}

.dropdown ul li:last-child a {
  border-bottom-width: 1px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/*  =Rename
======================================================================= */

.deck-edit {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.dropdown-editing .deck-edit {
  display: block;
}

.deck-edit input {
  margin: 0;
  font: bold 24px/25px "Helvetica Neue", sans-serif;
  text-indent: 8px;
  height: 39px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;
  font-weight: bold;
}

.deck-rename {
  right: -65px;
  position: absolute;
  font-size: 11px;
  margin-left: 20px;
  line-height: 19px;
}

.deck-rename a {
  display: inline-block;
  padding: 10px 0;
}

.deck-rename a span {
  color: #999;
  border-bottom: 1px solid #ddd;
}

.columns-opposite > .first:hover .deck-rename a span {
  color: #1f82c2;
  border-bottom-color: #c6e4f7;
}

.columns-opposite > .first:hover .deck-rename a:hover span,
.columns-opposite > .first:hover .deck-rename a:focus span {
  color: #1f82c2;
  border-bottom-color: #a5cde7;
}

/*  =Play
======================================================================= */

.play-deck {
  position: absolute;
  right: 0;
}

.play-deck .button {
  white-space: nowrap;
}


/*  =Score
======================================================================= */

.play-score {
  position: absolute;
  right: 0;
  top: -15px;
  width: 150px;
}

.play-score .first {
  text-align: right;
}

.play-score .columns {
  font-size: 11px;
  color: #aaa;
}

.play-score b {
  font: bold 24px/24px "Helvetica Neue", sans-serif;
  color: #333;
  display: block;
}

.play-score-correct b {
  color: #339310;
}

.play-score-incorrect b {
  color: #931010;
}

.play-score-none b {
  color: #bbb;
}

.play-score .heading {
  text-align: center;
  margin-bottom: 5px;
}

/*  =Cards
======================================================================= */

.cards:after {
  content: "";
  display: block;
  clear: both;
}

.cards {
  margin: 0 -20px;
}

.card,
.card-sides,
.card-side {
  width: 300px;
  height: 175px;  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  float: left;
  margin: 30px 0 0 20px;
  position: relative;
}

.play .card,
.play .card-sides,
.play .card-side {
  float: none;
  width: 600px;
  height: 350px;
}

.play .card {
  margin: 30px auto 10px;
}

.card-new {
  text-align: center;
}

.card-new img {
  display: inline-block;
  background: url("i/icon-new.png") no-repeat;
}

.card-new a {
  display: block;
  height: 175px;
  padding-top: 54px;
  border: 1px dashed rgba(0, 0, 0, 0.25);
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card-new a:hover,
.card-new a:focus {
  background-color: #f6f6f6;
  background:    -moz-linear-gradient(top, #fff 0%, #f6f6f6 100%);
  background:     -ms-linear-gradient(top, #fff 0%, #f6f6f6 100%);
  background:      -o-linear-gradient(top, #fff 0%, #f6f6f6 100%);
  background: -webkit-gradient(linear, left top, left bottom,
                            color-stop(0%, #fff), color-stop(100%, #f6f6f6));
  background: -webkit-linear-gradient(top, #fff 0%, #f6f6f6 100%);
  background:         linear-gradient(top, #fff 0%, #f6f6f6 100%);
  background-clip: padding-box;
}

.card-side {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
  background-color: #f7f7f7;
  background: url("i/card-memo-lines.png") 0 27px repeat-x,
              url("i/card-canvas-pattern.png"),
              -moz-linear-gradient(top, #fff 0%, #f7f7f7 100%);
  background: url("i/card-memo-lines.png") 0 27px repeat-x,
              url("i/card-canvas-pattern.png"),
              -ms-linear-gradient(top, #fff 0%, #f7f7f7 100%);
  background: url("i/card-memo-lines.png") 0 27px repeat-x,
              url("i/card-canvas-pattern.png"),
              -o-linear-gradient(top, #fff 0%, #f7f7f7 100%);
  background: url("i/card-memo-lines.png") 0 27px repeat-x,
              url("i/card-canvas-pattern.png"),
              -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f7f7f7));
  background: url("i/card-memo-lines.png") 0 27px repeat-x,
              url("i/card-canvas-pattern.png"),
              -webkit-linear-gradient(top, #fff 0%, #f7f7f7 100%);
  background: url("i/card-memo-lines.png") 0 27px repeat-x,
              url("i/card-canvas-pattern.png"),
              linear-gradient(top, #fff 0%, #f7f7f7 100%);
  background-clip: padding-box;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 1px 2px;
}

.play .card-side {
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: url("i/play-card-memo-lines.png") 0 54px repeat-x,
              url("i/card-canvas-pattern.png"),
              -moz-linear-gradient(top, #fff 0%, #f7f7f7 100%);
  background: url("i/play-card-memo-lines.png") 0 54px repeat-x,
              url("i/card-canvas-pattern.png"),
              -ms-linear-gradient(top, #fff 0%, #f7f7f7 100%);
  background: url("i/play-card-memo-lines.png") 0 54px repeat-x,
              url("i/card-canvas-pattern.png"),
              -o-linear-gradient(top, #fff 0%, #f7f7f7 100%);
  background: url("i/play-card-memo-lines.png") 0 54px repeat-x,
              url("i/card-canvas-pattern.png"),
              -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f7f7f7));
  background: url("i/play-card-memo-lines.png") 0 54px repeat-x,
              url("i/card-canvas-pattern.png"),
              -webkit-linear-gradient(top, #fff 0%, #f7f7f7 100%);
  background: url("i/play-card-memo-lines.png") 0 54px repeat-x,
              url("i/card-canvas-pattern.png"),
              linear-gradient(top, #fff 0%, #f7f7f7 100%);
}

.transform3d .card {
  -webkit-perspective: 1000;
}

.transform3d .card .card-sides {
  -webkit-transform-style: preserve-3d;
	-o-transition: -o-transform 0.85s ease-in-out;
	-ms-transition: -ms-transform 0.85s ease-in-out;
	-moz-transition: -moz-transform 0.85s ease-in-out;
	-webkit-transition: -webkit-transform 0.85s ease-in-out;
	transition: transform 0.85s ease-in-out;
}

.transform3d .card.no-transition .card-sides {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.transform3d .card .card-front {
  z-index: 20;
}

.transform3d .card .card-front,
.transform3d .card .card-back  {
  -webkit-backface-visibility: hidden;
}

.transform3d .flip .card-sides,
.transform3d .card .card-back {
  -webkit-transform: rotateY(-180deg);
}

.card-text {
  border: 0;
  background-color: transparent;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 65px 5px 0;
  resize: none;
  text-align: center;
  font: normal 30px/37px "Helvetica Neue", sans-serif;
  color: #18415b;
  z-index: 10;
}

.play .card-text {
  padding: 130px 10px 0;
  font-size: 60px;
  line-height: 74px;
  font-family: sans-serif;
}

.card-back .card-text {
  padding-top: 28px;
}

.play .card-back .card-text {
  padding-top: 56px;
}

.card-delete {
  position: absolute;
  left: -12px;
  top: -12px;
  width: 24px;
  height: 24px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background: #fff;
  z-index: 40;
}

.card-delete img {
  display: block;
  width: 100%;
  height: 100%;
  background: url("i/card-delete.png") no-repeat 50% 50%;
  opacity: 0.15;
  -o-transition: opacity 0.25s ease-out;
  -ms-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.card-delete:hover img,
.card-delete:focus img {
  opacity: 0.35;
}

.card-edit-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}

.card-button {
  position: absolute;
  z-index: 30;
  bottom: -10px;
  left: 0;
  right: 0;
  text-align: center;
}

.card:hover .card-text {
  text-decoration: underline;
}

.card-editing:hover .card-text,
.deck-playing .card:hover .card-text {
  text-decoration: none;
}

/*  =Play
======================================================================= */

.play {
  padding-bottom: 30px;
}

.play .button {
  padding-left: 20px;
  padding-right: 20px;
}

.play .button-cancel {
  margin-left: 10px;
}

/* . APPLICATION STATES
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

/*  =Transitions
======================================================================= */



/*  =Events
======================================================================= */

/* Hide editing controls when the card is not edited */
.card .card-edit-flip,
.card .card-delete,
.card-editing .card-edit-layer {
  display: none;
}

.card-buttons .card-edit-flip,
.card-buttons .card-delete {
  display: block;
}

/* Hide buttons when the card is being flipped back and forth */
.flip .card-edit-flip,
.card .card-edit-flip-back {
  display: none;
}

.flip .card-edit-flip-back {
  display: block;
}

/* Deck is being built */

.play,
.play-score {
  display: none;
}

/* Deck is being played */

.deck-playing .play-score,
.deck-playing .play {
  display: block;
}

.deck-playing .play-deck,
.deck-playing .cards,
.deck-playing .deck-rename {
  display: none;
}

/* Hiding dropdown when it’s edited */
.dropdown-editing .button-dropdown,
.dropdown-editing .dropdown-list {
  display: none;
}